<div class="p-grid">
    <div class="p-col-12 bg-gris">
        <div style="position: absolute; right: 0px;">
            <button pButton class="p-m-2">Modificar cuenta</button>
            <button pButton class="p-button-danger p-m-2">Eliminar cuenta</button>
        </div>
        <div style="font-family:impact">
            <h1>Nombre Usuario</h1>
            Manuel Jiménez
        </div>
        <div>
            <table>
                <tr><td>Fecha de Registro:</td><td>24/4/2021</td></tr>
                <tr><td>E-Mail:</td><td>test@test.com</td></tr>
                <tr><td>Victorias:</td><td>0</td></tr>
                <tr><td>Torneos ganados:</td><td>0</td></tr>
            </table>
        </div>
    </div>
    <div class="p-col-12 p-p-4">
        <div class="p-grid p-justify-center centrado">
            <div class="p-col-12 p-sm-4 p-lg-3">
                <div class="p-card heigth100">
                    <img class="width100" src="../../assets/imgs/perfil/estadisticas.jpg"
                        alt="MIS TORNEOS card">
                    <h2 style="font-family: impact;">TORNEOS CREADOS</h2>
                    <p class="p-pr-2">Estos son los torneos que ha creado este usuario:</p>
                    <div style="color: rgba(197, 197, 197);">Sin resultados.</div>
                </div>
            </div>
            <div class="p-col-12 p-sm-4 p-lg-3">
                <div class="p-card heigth100">
                    <img class="width100" alt="TORNEOS INSCRITOS Card" src="../../assets/imgs/indice/MisTorneos.jpg">
                    <h2 style="font-family: impact;">TORNEOS INSCRITOS</h2>
                    <p>Torneos en los que está inscrito el jugador:</p>
                    <div class="p-card lblue-card p-pr-1">
                        <h3>Z-Drop #7, Super Smash Bros. Ultimate</h3>
                        <p>19/4/2021, 14:45</p>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-sm-4 p-lg-3">
                <div class="p-card heigth100">
                    <img class="width100" alt="MIS TORNEOS Card" src="../../assets/imgs/perfil/snapnote3ds.jpg">
                    <h2 style="font-family:impact;">MENSAJERÍA</h2>
                    <p>Envíale un mensaje rápidamente al jugador desde aquí:</p>
                    <form action="" style="text-align: left;">
                        <input type="text" class="width100" placeholder="Asunto" pInputText /><br>
                        <textarea class="width100" placeholder="Mensaje..." [rows]="5" pInputTextarea
                            autoResize="autoResize"></textarea><br>
                        <button pButton>Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>