<div class="p-grid p-justify-center" style="background-color: rgb(168, 168, 168);">
    <!--Ícono Tourney Time-->
    <div class="p-col-1 p-m-4">
        <a class="" href="#">
            <img src="../assets/imgs/calaveraTT_transparent.png" width="100%" alt="Ícono de Tourney Time."
                style="border-radius: 50%; background-color:white;">
        </a>
    </div>
    <div class="p-col-12" style="text-align: center;">
        <!--DIV de Enlaces AQUÍ-->
        <div>
            Tourney Time 2021
        </div>
    </div>
</div>