<!--Title page (ÍNDICE)-->
<div class="p-grid p-mb-4" id="cabecera">
    <div class="p-col">
        <h1>ÍNDICE</h1>
    </div>
</div>
<!--Mis torneos & Academia cards-->
<div class="p-grid p-justify-center">
    <div class="p-col-12 p-sm-5 centrado">
        <p-card header="MIS TORNEOS" subheader="Estás inscrito en los siguientes torneos:" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="MIS TORNEOS Card" src="../../assets/imgs/indice/MisTorneos.jpg">
            </ng-template>
            <div class="p-card lblue-card p-pr-1">
                <h3>Z-Drop #7, Super Smash Bros. Ultimate</h3>
                <p>19/4/2021, 14:45</p>
            </div>
        </p-card>
    </div>
    
    <div class="p-col-12 p-sm-5 centrado">
        <p-card header="ACADEMIA" subheader="Últimos artículos:" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="ACADEMIA Card" src="../../assets/imgs/indice/academia.jpg">
            </ng-template>
            <div class="lblue-card p-pr-1">
                <h3>Tekken 7</h3>
                <p>Conceptos y movimientos básicos.</p>
            </div>
            <div class="lblue-card p-pr-1">
                <h3>Super Smash Bros. Ultimate</h3>
                <p>Wavedashing.</p>
            </div>
        </p-card>
    </div>
    <div class="p-col-12 p-pb-6 centrado bg-gris">
        <p style="font-size: 3vw; font-family:Impact">Crea un nuevo torneo.</p>
        <button pButton><b>NUEVO TORNEO</b></button>
    </div>
</div>