<div class="p-grid">
    <div class="p-col">
        <h1 style="font-family:impact">Tienda</h1>
    </div>
</div>
<div class="p-grid p-justify-center">
    <div class="p-col-11">
        <p style="font-family: impact; font-size: 1.6vw;">Productos</p>
        <div class="lineaseparatoria"></div>
    </div>
</div>
<!--Listado Productos-->
<div class="p-grid p-ml-1">
    <div class="p-col-3 centrado">
        <p-card header="Mega Man Amiibo" subheader="Amiibo de la Serie Mega Man" styleClass="p-card-shadow" [style]="{'height':'100%'}">
            <ng-template pTemplate="header">
                <img alt="MIS TORNEOS Card" src="../../assets/imgs/tienda/amiibo-megaman.jpg" style="height: 20vh; width: auto;">
            </ng-template>
            <div class="p-card lblue-card">
                <h3>12€ / 400p</h3>
            </div>
        </p-card>
    </div>
    <div class="p-col-3 centrado">
        <p-card header="Mario Amiibo" subheader="Amiibo de la Serie Super Mario Bros." styleClass="p-card-shadow" [style]="{'height':'100%'}">
            <ng-template pTemplate="header">
                <img alt="MIS TORNEOS Card" src="../../assets/imgs/tienda/amiibo-mario.jpg" style="height: 20vh; width: auto;">
            </ng-template>
            <div class="p-card lblue-card">
                <h3>10€ / 390p</h3>
            </div>
        </p-card>
    </div>
    <div class="p-col-3 centrado">
        <p-card header="Samus Amiibo" subheader="Amiibo de la Serie Metroid" styleClass="p-card-shadow" [style]="{'height':'100%'}">
            <ng-template pTemplate="header">
                <img alt="MIS TORNEOS Card" src="../../assets/imgs/tienda/amiibo-samus.jpg" style="height: 20vh; width: auto;">
            </ng-template>
            <div class="p-card lblue-card">
                <h3>10€ / 390p</h3>
            </div>
        </p-card>
    </div>
    <div class="p-col-3 centrado">
        <p-card header="Terry Bogard Amiibo" subheader="Amiibo de la Serie Fatal Fury" styleClass="p-card-shadow" [style]="{'height':'100%'}">
            <ng-template pTemplate="header">
                <img alt="MIS TORNEOS Card" src="../../assets/imgs/tienda/amiibo-terry.jpg" style="height: 20vh; width: auto;">
            </ng-template>
            <div class="p-card lblue-card">
                <h3>13€ / 420p</h3>
            </div>
        </p-card>
    </div>
    <div class="p-col-3 centrado">
        <p-card header="Entrenador Pokémon Amiibo" subheader="Amiibo de la Serie Pokémon" styleClass="p-card-shadow" [style]="{'height':'100%'}">
            <ng-template pTemplate="header">
                <img alt="MIS TORNEOS Card" src="../../assets/imgs/tienda/amiibo-Ptrainer.jpg" style="height: 20vh; width: auto;">
            </ng-template>
            <div class="p-card lblue-card">
                <h3>13€ / 420p</h3>
            </div>
        </p-card>
    </div>
</div>