<div class="p-grid">
    <!--Ícono Tourney Time-->
    <div style="text-align: center;" class="p-col-12">  
      <a class="" href="#">
        <img src="../assets/imgs/calaveraTT_transparent.png" width="6%" alt="Ícono de Tourney Time.">
      </a>
    </div>
    <!--Enlaces-->
    <div class="p-col-12" style="background-color: rgb(168, 168, 168); color: white;">
      <div style="padding: 5px; text-align: right;">
        <button pButton>Identificarse</button>
        <button pButton>Registrarse</button>
      </div>
    </div>
</div>

<router-outlet></router-outlet>

<footer style="background-color: rgb(168, 168, 168);">
  <!--Ícono Tourney Time-->
    <div style="text-align: center;">  
      <a class="" href="#">
        <img src="../assets/imgs/calaveraTT_transparent.png" width="6%" alt="Ícono de Tourney Time.">
      </a>
      <div>
        enlaces
      </div>
      <div>
        Tourney Time 2021
      </div>
    </div>
</footer>