<div class="p-grid">
    <div class="p-col">
        <h1 style="font-family:impact">Ranking</h1>
    </div>
</div>
<div class="p-grid p-justify-center">
    <div class="p-col-10">
        <p-table [value]="jugadores" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[1,5,10,25,50]"
            currentPageReportTemplate="Mostrando {first} a {last} de un total de {totalRecords} entradas.">
            <ng-template pTemplate="header">
                <tr>
                    <th [style]="{'width':'10vw'}" pSortableColumn="victorias"><b style="font-size: 2vw;">Puesto</b><p-sortIcon field="puesto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nombre"><b style="font-size: 2vw;">Jugador</b> <p-sortIcon field="nombre"></p-sortIcon>
                    </th>
                    <th pSortableColumn="victorias"><b style="font-size: 2vw;">Victorias</b><p-sortIcon field="victorias"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template let-jugador pTemplate="body">
                <tr style="font-size: 2vw;">
                    <td>{{jugador.id}}</td>
                    <a routerLink="/perfil" style="text-decoration: none;">
                        <td>
                            <p-avatar label="N" shape="circle"></p-avatar> {{jugador.nombre}}
                        </td>
                    </a>
                    <td>{{jugador.victorias}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>